.home-page-background {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-main-container {
  padding: 20px;
}

.small-home-page-poster-container {
  width: 100%;
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.large-home-page-poster-container {
  display: none;
}

.home-page-poster-content-container {
  margin: 20px;
}

.home-page-poster-content-heading {
  color: #ffffff;
}

.home-page-poster-content-para {
  color: #ffffff;
  width: 300px;
}

.home-page-poster-content-button {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: 0px;
  width: 100px;
}

.home-page-heading {
  color: #ffffff;
  font-size: 16px;
  margin-left: 30px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 30vh;
  margin: 15px;
}

.loader-container-2 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 15px;
}

.failure-view-container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 15px;
}

.failure-view-container-2 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 15px;
}

.failure-view-para {
  color: #ffffff;
}

.failure-view-button {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: 0px;
  width: 100px;
}

@media screen and (min-width: 576px) {
  .small-home-page-poster-container {
    display: none;
  }
  .large-home-page-poster-container {
    display: block;
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-page-poster-content-container {
    margin: 50px;
  }

  .home-page-poster-content-para {
    width: 500px;
  }
}
