.slider-container {
  padding: 10px;
}

.slider-unordered-list-item {
  list-style-type: none;
  padding: 0px;
}

.slider-list-item {
  margin: 6px;
}

.slider-image-link {
  text-decoration: none;
}

.slider-image {
  width: 100%;
  border-radius: 8px;
  height: 400px;
}
