.search-page-container {
  background-color: #131313;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.search-result-para{
    color: #ffffff;
}